.admindashboard {
    min-height: 100vh;
}
.admin-header{
    height: 20vh;
    background: var(--headerlineargradient);
    font-family: var(--Playfairfont);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bd8b02;
    

}
.admin-header h2{
    font-family: var(--Playfairfont);
    font-weight: 900;
    background: linear-gradient(to right, var(--blue), var(--green));
    color: transparent;
    background-clip:text;
    -webkit-background-clip: text;
    
}
.adminDetails{
   min-height: 20vh;
    background: var(--headerlineargradient);
    font-family: var(--Playfairfont);
    border-radius: 10px;
    border: 1px solid #bd8b02;
}
.userimage-wrapper{
    background-color: var(--blue);
    padding: 1px;
    box-shadow: 0px 1px 10px 2px #bd8b02;
}
.userimage-wrapper .img-fluid{
    height: 8rem!important;
}
.adminDetails h6{
    font-family: var(--Playfairfont);
    font-weight: 900;
    color: var(--blue);
    text-align: center;
   font-size: larger;
}
.adminDetails h6 span{
    font-size: smaller;
    font-weight: 700;
}
.adminLinksSection{
    min-height: 10vh;
   
}
.adminLinks{
    background: var(--headerlineargradient);
    min-height: 10vh;
    min-width: 25%;
    font-family: var(--Playfairfont);
    font-weight: 900;
    color: var(--blue);
    text-align: center;
    border-radius: 10px;
    border: 1px solid #bd8b02;
    box-shadow: 0px 1px 10px 2px #bd8b02;
}
.adminLinks:hover{
    background: var(--darkerlineargradient);
}

/*Admin Products Section */
.adminProductsSection{
    min-height: 10vh;

}
.desciptiontextarea{
    min-height: 20vh;
}

.desciptiontextarea , .categorySelect{
    background: transparent;
  
    border: none;
  
    border-radius: 5px;
    border-image: none;
    padding: 0.25rem 0.125rem;
    box-shadow: 1px 1px 5px 1px #bd8b02;
    color: var(--blue);
  }
  .categorySelect{
    opacity: 0.7;
  }
  .desciptiontextarea::placeholder {
    color: var(--blue);
    padding: 0.25rem 0.125rem;
    opacity: 0.7;
  }
  .categorySelect option{
    

    /* Your styles here */
    color: var(--blue);
    padding: 0.25rem 0.125rem;
    opacity: 0.7!important;
   
}
 
  .desciptiontextarea:active, .categorySelect:active {
    background: transparent !important;
  
    border: none !important;
  
    border-radius: 5px !important;
    border-image: none !important;
    padding: 0.25rem 0.125rem !important;
    box-shadow: 1px 1px 5px 1px #966f05 !important;
    outline: none !important;
  }
  .desciptiontextarea:focus, .categorySelect:focus {
    background: transparent !important;
  
    border: none !important;
  
    border-radius: 5px !important;
    border-image: none !important;
    padding: 0.25rem 0.125rem !important;
    box-shadow: 1px 1px 5px 1px #966f05 !important;
    outline: none !important;
  }
  .desciptiontextarea:selected , .categorySelect:selected{
    background: transparent !important;
  
    border: none !important;
  
    border-radius: 5px !important;
    border-image: none !important;
    padding: 0.25rem 0.125rem !important;
    box-shadow: 1px 1px 5px 1px #966f05 !important;
    outline: none !important;
  }
  .comOption::selection{
background-color: RED!important;
  }
  .comOptio:hover {
    background-color: red!important;
  }
  
  /* Style for selected option */
  .comOptio:checked {
    background-color: red!important;
  }
  .topPr h2{
    font-family: var(--Playfairfont);
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    

  }
  .producttable{
    border-radius: 10px;
    border: 1px solid #bd8b02;
   
    font-family: var(--Playfairfont);
    
  }
  .producttable thead tr th{
    
    color: var(--blue)!important;
    font-weight: 900!important;
  }
  .producttable tbody tr th, .producttable tbody tr td{
    
    color: var(--blue)!important;
    
  }
  @media (max-width: 991.98px) { 
  .addProductcenterSignup{
    width: 90vw;
  }

}
  
  
  